body{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    justify-content: center;
    background-color: rgb(222, 222, 222);
    width: 1000px;
}
ul{
    background-color: white;
    width: 800px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}
li{
    font-size: 30px;
    padding: 20px;
}

@media (max-width: 1000px){
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
}