div {
  margin: auto;
  text-align: center;
  border: 1px solid black;
}
h1 {
  font-size: 100%;
}
.first {
  font-size: 70%;
}
main {
  font-size: 24px;
}
h2 {
  font-size: 0.5em;
}
p {
  font-size: 1.5em;
}
