body{
    background-color: black;
}
main{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
img{
    border: 5px white solid;
}
h1{
    color: white;
    text-transform: uppercase;
}
p{
    color: white;
}
